COMPOSE_PROJECT_NAME=kyvc-dev

SPRING_PROFILES_ACTIVE=dev
FLYWAY_ENABLED=false

DB_HOST=kyvc-postgres
DB_PORT=5432
DB_NAME=kyvc_dev
DB_USER=kyvc_admin
DB_PASSWORD=__SET_ON_SERVER__

APP_STORAGE_PATH=/app/storage
LOG_PATH=/app/logs
SERVICE_LOG_PATH=/app/service-logs

CORE_BASE_URL=http://kyvc-core-dev:8090
CORE_ADMIN_BASE_URL=http://kyvc-core-admin-dev:8091

APP_ENV=dev
ENV=dev
LOG_LEVEL=INFO
