# OS
.DS_Store
Thumbs.db
.zip

# IDE
.idea/
.vscode/

# Logs
*.log
logs/

# Env
.env
.env.*
!.env.example

# Java / Gradle
.gradle/
build/
out/
bin/
backend/bin/


# Node
node_modules/
dist/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Docker
*.pid

# Secrets
*.pem
*.key
*.crt
*.p12
*.jks
# Env examples
!.env.*.example
!**/.env.*.example