SPRING_PROFILES_ACTIVE=local
FLYWAY_ENABLED=true

DB_HOST=localhost
DB_PORT=5433
DB_NAME=kyvc_back
DB_USER=kyvc_back_dev
DB_PASSWORD=CHANGE_ME_DEV_POSTGRES_PASSWORD

APP_STORAGE_PATH=./storage
LOG_PATH=./logs

CORE_BASE_URL=http://localhost:8092
