SPRING_PROFILES_ACTIVE=local
FLYWAY_ENABLED=true

DB_HOST=localhost
DB_PORT=5433
DB_NAME=kyvc_back
DB_USER=kyvc_back_dev
DB_PASSWORD=CHANGE_ME_DEV_POSTGRES_PASSWORD

APP_STORAGE_PATH=./storage
LOG_PATH=./logs

CORE_BASE_URL=http://localhost:8092

# JWT
KYVC_JWT_ISSUER=kyvc-backend-local
KYVC_JWT_SECRET=change-me-local-development-secret
KYVC_JWT_ACCESS_TOKEN_EXPIRATION_MINUTES=30
KYVC_JWT_REFRESH_TOKEN_EXPIRATION_DAYS=14
KYVC_JWT_ACCESS_COOKIE_NAME=KYVC_ACCESS_TOKEN
KYVC_JWT_REFRESH_COOKIE_NAME=KYVC_REFRESH_TOKEN
KYVC_JWT_SECURE_COOKIE=false
KYVC_JWT_SAME_SITE=Lax
KYVC_JWT_COOKIE_PATH=/

# CORS
KYVC_CORS_ALLOWED_ORIGINS=http://localhost:3000

# Dev Token
KYVC_DEV_TOKEN_ENABLED=false
KYVC_DEV_TOKEN_AUTO_CREATE_USER=false
KYVC_DEV_TOKEN_DEFAULT_EMAIL=dev-corporate-user@kyvc.local

# Mail
KYVC_MAIL_HOST=smtp.gmail.com
KYVC_MAIL_PORT=587
KYVC_MAIL_USERNAME=change-me
KYVC_MAIL_PASSWORD=change-me
KYVC_MAIL_FROM=change-me
KYVC_MAIL_SMTP_AUTH=true
KYVC_MAIL_SMTP_STARTTLS_ENABLE=true

# Auth Policy
KYVC_MFA_EXPIRATION_MINUTES=5
KYVC_MFA_SESSION_EXPIRATION_MINUTES=10
KYVC_MFA_CODE_LENGTH=6
KYVC_MFA_MAX_FAILED_ATTEMPTS=5
KYVC_PASSWORD_RESET_EXPIRATION_MINUTES=30
#KYVC_PASSWORD_RESET_BASE_URL= 현재 사용안함

# Document Preview
KYVC_DOCUMENT_PREVIEW_EXPIRATION_MINUTES=10

# Notification Policy
KYVC_NOTIFICATION_DEFAULT_PAGE_SIZE=20
KYVC_NOTIFICATION_MAX_PAGE_SIZE=100

# Document Storage
KYVC_DOCUMENT_STORAGE_PATH=./storage/kyc-documents
KYVC_DOCUMENT_MAX_FILE_SIZE_MB=30
KYVC_DOCUMENT_ALLOWED_EXTENSIONS=pdf,jpg,jpeg,png
KYVC_DOCUMENT_ALLOWED_MIME_TYPES=application/pdf,image/jpeg,image/png

# Multipart
SPRING_SERVLET_MULTIPART_MAX_FILE_SIZE=30MB
SPRING_SERVLET_MULTIPART_MAX_REQUEST_SIZE=30MB
