.git
.github
.idea
.vscode

.env
.env.*
!.env.example
*.pem
*.key
*.crt
*.p12
*.jks

.venv
venv
__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache

logs
storage
*.log
build
dist

Dockerfile
docker-compose.local.yml
README.md
holder-test
