MYSQL_CORE_DEV_USER=kyvc_core_dev
MYSQL_CORE_DEV_PASSWORD=CHANGE_ME_DEV_MYSQL_PASSWORD
MYSQL_CORE_DEV_ROOT_PASSWORD=CHANGE_ME_DEV_MYSQL_ROOT_PASSWORD

MYSQL_CORE_PROD_USER=kyvc_core_prod
MYSQL_CORE_PROD_PASSWORD=CHANGE_ME_PROD_MYSQL_PASSWORD
MYSQL_CORE_PROD_ROOT_PASSWORD=CHANGE_ME_PROD_MYSQL_ROOT_PASSWORD
