COMPOSE_PROJECT_NAME=kyvc-prod

SPRING_PROFILES_ACTIVE=prod
FLYWAY_ENABLED=false

DB_HOST=kyvc-postgres
DB_PORT=5432
DB_NAME=kyvc_prod
DB_USER=kyvc_admin
DB_PASSWORD=__SET_ON_SERVER__

APP_STORAGE_PATH=/app/storage
LOG_PATH=/app/logs
SERVICE_LOG_PATH=/app/service-logs

CORE_BASE_URL=http://kyvc-core-prod:8090
CORE_ADMIN_BASE_URL=http://kyvc-core-admin-prod:8091

APP_ENV=prod
ENV=prod
LOG_LEVEL=INFO
