COMPOSE_PROJECT_NAME=prod

SPRING_PROFILES_ACTIVE=prod
FLYWAY_ENABLED=false

DB_HOST=kyvc-postgres-back-prod
DB_PORT=5432
DB_NAME=kyvc_back
DB_USER=kyvc_back_prod
DB_PASSWORD=CHANGE_ME_PROD_POSTGRES_PASSWORD

CORE_DB_HOST=kyvc-mysql-core-prod
CORE_DB_PORT=3306
CORE_DB_NAME=kyvc_core
CORE_DB_USER=kyvc_core_prod
CORE_DB_PASSWORD=CHANGE_ME_PROD_MYSQL_PASSWORD

APP_STORAGE_PATH=/app/storage
LOG_PATH=/app/logs
SERVICE_LOG_PATH=/app/service-logs

CORE_BASE_URL=http://kyvc-core-prod:8090
CORE_ADMIN_BASE_URL=http://kyvc-core-admin-prod:8091

APP_ENV=prod
ENV=prod
LOG_LEVEL=INFO
