SPRING_PROFILES_ACTIVE=prod
FLYWAY_ENABLED=false

DB_HOST=kyvc-postgres-back-prod
DB_PORT=5432
DB_NAME=kyvc_back
DB_USER=kyvc_back_prod
DB_PASSWORD=CHANGE_ME_PROD_POSTGRES_PASSWORD

CORE_BASE_URL=http://kyvc-core-prod:8090
CORE_ADMIN_BASE_URL=http://kyvc-core-admin-prod:8091
